@model BookInspector.Models.AdministerBooksViewModels.ImportBookFromJsonViewModel

@{
    ViewData["Title"] = "Admin";   
}

<h1>Import Books from json url</h1>

<h4></h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <div class="form-group">
                <label asp-for="@Model.Url"></label>
                <input asp-for="@Model.Url" class="form-control" />
                <span asp-validation-for="@Model.Url" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-success">Import books from JSON</button>

            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Catalog" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
